/* FONTS  */


/* Basic */
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

/* BASIC - END */

/* TEXTS */
h1 {
  font-size: 30px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 25px;
  color: grey;
  font-family: 'Roboto', sans-serif;
}

.text_left>p {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

/* MAIN */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside {
  gap: 25px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.photo>img {
  max-width: 200px;
  border-radius: 10px
}

.container1 {
  gap: 50px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.email>input {
  border-radius: 10px;
  border: 1px solid grey;
}

/* COLORS */
.color_yellow {
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}

.color_cyan {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.color_purple {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.color_pink {
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

/* ANIMATIONS */

.container1 {
  animation: Scale 1.25s ease 0s 1 normal forwards;
}

.logo>a>img:hover {
  animation: vibration 0.5s ease 0s infinite normal forwards;
}


@keyframes Scale {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes vibration {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

/* ADDAPTATION */
@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
    gap: 25px;
  }

  aside {
    width: 100%;
  }

  .container1 {
    width: 100%;
    gap: 0px;
    flex-direction: column-reverse;
  }
}